<div class="container-fluid">
  <div class="row">
    <h3>Users</h3>
    <div class="column">

          <% @users.each do |user| %>

              <div class="row">
                <%= render user %>
              </div>

          <% end %>

    </div>
  </div>
</div>
