img.noblock {
    display: inline;
}

/* Edit Profile */

form.edit_profile a.btn {
    color: #ffffff;
}

form.edit_profile .field-wrapper {
    clear: both;
    display: none;
}


/* End Edit Profile Page *?

/* Profile Page */

    #profile-background {
        background-repeat: no-repeat; background-size: 100%;
    }

    #profileMessage {
        background: rgba(255,255,255,0.5);
        background-size: 100% 100%;
        display: block;
        min-height: 100px;
    }

    #profileText h3 {
        color: #000000;
    }

    #profileText .title {
        color: #000000;
    }

    #profileText .tagline {
        color: #000000;
    }


/* End Profile Page */

/* Users / Twitter Feed */

    #tweet-feed,
    #facebook-feed {
        list-style: none;
        padding-left: 0;
    }

    #tweet-feed li,
    #facebook-feed li {
        margin: 5px 0;
        background-color: #fff;
        padding: 5px;
    }

/* Media Queries */

@media (max-width: 375px) {

    #profile-background {
        background-repeat: no-repeat; background-size: 100%;
    }

}